/* Global Classes */
.loadDelay{
    opacity: 0;
    animation: animate_opacity 1s forwards;
    animation-delay: 3s;
}

.opacityOverlay{
    background-color: rgba(0, 0, 0, 0.6);
}

.skillResize{
    width: 200px;
    height: 200px;
    padding: 5px;
}

hr {
    border-top: 3px solid black; 
    width: 60%;
}


/* NavMenu */

.dropContainer {
    width: 1em;
    display: inline-block;
    cursor: pointer;
    position: fixed;
    z-index: 5;
    margin-left: 85%;
    height: 0%;
    width: 20px;
    height: 20px;
}
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    background-color: #eeeeee;
    margin: 8px;
    transition: 0.4s;
}

.bar4{
    height: 25px;
    width: 40px;
}
  
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-10px, 5px);
  transform: rotate(-45deg) translate(-10px, 5px);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-10px, -5px);
  transform: rotate(45deg) translate(-10px, -5px);
}

.dropDownBtn {
    background-color: #eeeeee;
    padding: 16px;
    cursor: pointer;
}

.dropDownBtn:hover, .dropDownBtn:focus{
    background-color: #000000;
}

#dropDown {
    position: relative;
    display: inline-block;
    position: fixed;
    z-index: 5;
    display: none;
   margin-left: 75%;
   margin-top: 50px;
}

.dropDownContent {
    display: none;
    position: absolute;
    background-color:#f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropDownContent a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropDownContent a:hover {
    background-color: #ddd;
}



/* About Section */

#aboutWrapper{
    background-image: url(../images/glacierOpt.jpg);
    /* position: relative; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 200%;
    width: 100%;
    animation: anim_bg 1.5s forwards;
}

/* #aboutWrapperAnimation::before{
    opacity: 0;
} */

#aboutWrapperAnimation{
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    /* animation: animate_opacity 1s forwards; */
    /* animation-delay: 1s; */
}

#aboutWrapper::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0%;
    /* background-color: rgba(0, 0, 0, 0.6); */
    /* animation: anim_bg 1s forwards;  */
    animation-delay: 1.5s;
    z-index: -2;
}

#aboutTitle{
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    opacity: 0;
    position: relative;
    font-size: 50px;
    top: 10%;
    width: 100%;
    text-align: center;
    animation: animate_opacity 1s forwards;
    animation-delay: 2.5s;
}

#aboutTitle::before {
    position: absolute;
    width: 100%;
}

#profilePic{
    margin: auto;
    width: 215px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 5px 7px 2px 1px rgba(0, 0, 0, .5);
}

.aboutText{
    z-index: 3;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
    margin-top: 100px;
    overflow: auto;
    opacity: 0;
    animation: animate_opacity 1s forwards;
    animation-delay: 2.5s;
    margin-bottom: 200px;
}


/* Projects Section */

#projectsWrapper{
    background-image: url(../images/akOpt.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#projectsHeader{
    background-color:white;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 20px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

#carouselExampleIndicators{
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 50px;
    width: 80%;
    height: 80%;
}

.carousel-item:hover > .carouselText { 
    animation: animate_opacity 1s forwards;
}


.carouselText{
    opacity: 0;
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: 1px 1px #000000;
    border-radius: 8%;
    background-color: rgba(0, 0, 0, .6);
}



/* Skills Section */

#skillsWrapper{
    background-image: url(../images/borahOpt.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
}

#skillsHeader{
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

#skillsBody{
    display: grid;
    font-family: 'Roboto Condensed', sans-serif;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 5% 90% 5%;
}

#variousSkills{
    text-align: center;
    margin: 0 auto;
    color: white;
    grid-area: 1/2/1/2;
}

#cssSkills{
    color: white;
    grid-area: 2/2/2/2;
    margin: 0 auto;
    text-align: center;
}

#jsSkills{
    color: white;
    grid-area: 3/2/3/2;
    margin: 0 auto;
    text-align: center;
}

#dbSkills{
    color: white;
    grid-area: 4/2/4/2;
    margin: 0 auto;
    text-align: center;
}

.skillsHr{
    border-top: 3px solid white;
    width: 40%;
}

.skillsHrVarious{
    border-top: 3px solid white;
    width: 100%
}



/* Contact Section */

#contactWrapper{
    background-image: url(../images/orOpt.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#contactHeader{
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

#contactBody{
    display: grid;
    grid-template-rows: 20% auto 20%;
    grid-template-columns: 5% 90% 5%;
    text-align: center;
}

#contactBodyInner{
    grid-area: 2/2/2/2;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

#contactPhone{
    color: black;
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, .7);
    overflow: hidden;
}


#contactEmail{
    color: black;
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, .7);
    overflow: hidden;
}

#contactLinkedin{
    color: black;
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, .7);
    overflow: hidden;
}

#contactGithub{
    color: black;
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, .7);
    overflow: hidden;
}

.linkHover{
    cursor: pointer;
}



/* Animations */

@keyframes anim_bg {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
        height: 100%;
    }
}

@keyframes animate_opacity{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



/* Media Queries */

@media only screen and (min-width: 480px) {

    .carouselText{
        opacity: 1;
        padding: 10px;
        /* top: 10%; */
        /* background-color: rgba(0, 0, 0, .0); */
        border-radius: 0%;
        /* top: 10%; */
    }

    .carousel-p{
        display: none;
    }

    .carousel-item:hover > .carouselText { 
        animation: animate_opacity 0s forwards;
    }

}

@media only screen and (min-width: 768px) {

    .carouselText{
        opacity: 0;
        /* margin-bottom: 90%; */
    }

    .carousel-p{
        display: block;
    }

    .carousel-item:hover > .carouselText { 
        animation: animate_opacity 1s forwards;
    }

    #imgOverlay{
        background-color: rgba(0, 0, 0, .6);
    }
    
}